<configuration>
    <property name="APP_LOG_LEVEL" value="${APP_LOG_LEVEL:-INFO}"/>
    <property name="NETTY_LOG_LEVEL" value="${NETTY_LOG_LEVEL:-INFO}"/>
    <property name="JETTY_LOG_LEVEL" value="${JETTY_LOG_LEVEL:-INFO}"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <root level="${APP_LOG_LEVEL}">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="org.eclipse.jetty" level="${JETTY_LOG_LEVEL}"/>
    <logger name="io.netty" level="${NETTY_LOG_LEVEL}"/>
</configuration>